   .accordion {background-color: #a1a7b4;
                color: white;
                cursor: pointer;
                outline: none;
                transition: 0.4s;
                width: 100%;
                }
                .accordion:hover {
                    background-color: #b9b6b6; 
                }
                .active {
                background-color: #666; 
                }
                .active i{
                -ms-transform: rotate(180deg); /* IE 9 */
                -webkit-transform: rotate(180deg); /* Safari 3-8 */
                transform: rotate(180deg);
                }
                .panel {
                display:none;
                background-color: #e6e6e6;;
                overflow: hidden;
                width:100%;
                }
                .valoare{
                font-family:Arial, Helvetica, sans-serif;
                font-size:14px;
                color: #004a80;
                float:left;
                width:100%;
				padding-right:40px;
                white-space: normal;
				word-wrap: break-word;
				box-sizing:border-box;
				max-width:472px;
				
                }
                .titlu{
                font-family:Arial, Helvetica, sans-serif;
                font-size:14px;
                color: #004a80;
                font-weight: bold;
                width:50%;
                padding-left:40px;
				word-wrap: break-word;
				max-width: 432px;
                }
                table{
                padding:10px 0 10px 0;
				min-width: 100%;
				max-width:100%;
                overflow: scroll; 
                }
                tr{
                min-height:10%;
                max-height:20%;
                }
.connection{
    width:100%;
    background:#a1a7b4;
    color:white;
    cursor: pointer;
}
.connection:hover {
    background-color: #b9b6b6; 
}
.connection:active {
background-color: #666; 
}
                @media screen and (max-width: 980px) {
                    .acordeon{
                        top:100px;
                    }
                }